<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marondalgram.like.dao.LikeDAO">
	<select id="selectLikeYnByPostIdAndUserId" parameterType="map" resultType="com.marondalgram.like.model.Like">
		SELECT
			`postId`
			, `userId`
			, `createdAt`
		FROM 
			`like`
		WHERE
			postId = #{postId}
			AND userId = #{userId}
	</select>
	
	<insert id="insertLikeYByPostIdAndUserId" parameterType="map">
		INSERT INTO `like`
		(			
			`postId`
			, `userId`
			, `createdAt`)
		VALUES
		(
			#{postId}
			, #{userId}
			, NOW()
		)
	</insert>
	
	<delete id="deleteLikeYByPostIdAndUserId" parameterType="map">
		DELETE
		FROM
			`like`
		WHERE
			`postId`= ${postId} 
			AND `userId` = ${userId}
	</delete>
	
	<select id="selectLikeCountByPostId" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`postId`= ${postId}
	</select>
</mapper>