@charset "UTF-8";

.lineHeight {
	line-height:100%;
}

.postContent {
	margin-bottom:50px;
}

.userNickName {
	font-size: 20px;
	font-weight: bold;
}

.postImage {
	height: 510px;
	width: 100%;
}

#comments {
	resize: none;
	overflow: hidden;
}
.allComment:hover {
	text-decoration: none;
	color: black;
}

.commentsRegist {
	color: blue;
	font-weight: bold;
	margin-right: 13px;
/* 	cursor:pointer; */
/* 	cursor:Default; */
}

.opacity4 {
	opacity: .4;
}

.opacity8 {
	opacity: .8;
}